/*Global*/
*{box-sizing: border-box;}
::selection{
    color: var(--footer);
    background-color: var(--back);    
}

:root{
    --white: #f3f3f3;
    --black: #1f1f1f;
    --back: #bcbd8b;
    --wrapper: #f3f3f3;
    --darkGreen: #373d20;
    --green: #717744;
    --footer: #766153;
    --imp-font: 'Prata', serif;
    --body-font: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--back);
    color: var(--black);
    font-family: var(--body-font);
}

html,
body{
	overflow-x: hidden;	
}

/* Main Nav */
.main-nav{
    background-color: var(--footer);
}

.main-nav ul{
    max-width: 55em;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #503c37;
}

.main-nav ul li{
    list-style: none;
    font-size: 1.1rem;
}

.main-nav ul li a{
    display: inline-block;
    color: var(--wrapper);
    text-decoration: none;
    padding: 5px 10px;
}

.main-nav ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 550px){
    .main-nav ul{
        flex-direction: column;
    }

    .main-nav ul li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .main-nav ul li a{
        width: 100%;
    }
}

/*Wrapper*/
.wrapper{
    max-width: 55em;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--wrapper);
}

/* Banner */
.banner{
    max-width: 55em;
    height: 45vh;
    margin: auto;
    background-image: url('images/enchiladas.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner:after{
    content: '';
    width: 100%;
    height: 45vh;
    position: absolute;
    background-color: var(--black);
    opacity: 0.2;
    transition: opacity ease-in-out 0.2s;
}

.banner:hover::after{
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

/* Header */
header{position: relative;}

/* Author Block */
.author-block{
    text-align: center;
    position: relative;
    top: -50px;
}

.author-block img{
    display: block;
    border-radius: 50%;
    border: 10px solid var(--wrapper);
    margin: auto;
    transition: transform ease-in-out 0.3s;
}

.author-block img:hover{transform: scale(1.1);}

.author-block h2{
    font-size: 1.9rem;
    display: inline-block;
    font-family: var(--imp-font);
    position: relative;
    margin-top: 0;
}

.author-block h2:before{
    content: 'Recipe by:';
    position: absolute;
    font-size: 0.9rem;
    color: var(--green);
    left: -80px;
    top: 5px;
}

.author-block h2 a{
    color: var(--black);
    text-decoration: none;
}

.author-block h2 a:hover{
    color: var(--green);
}

.author-block h1{
    font-size: 4rem;
    font-family: var(--imp-font);
    margin: 0;
}

@media screen and (max-width: 550px){
    .wrapper#author{
        background: transparent;
        position: relative;
        top: -40px;
        margin-bottom: -40px;
    }
    
    .wrapper#author header{
        max-width: 30em;
        margin: 0 auto;
        padding: 10px;
        background: var(--wrapper);
    }
    
    .author-block{
        top: 0;
    }
    
    .author-block h1{
        font-size: 34px;
    }
    
    .author-block h2{
        font-size: 30px;
    }
    
    .author-block img{
        display: inline-block;
        vertical-align: bottom;
        border: none;
    }
    
    .author-block h2:before{
        left: 0;
        top: -20px;
    }
}

/* Blockquote */
blockquote{
    width: 70%;
    margin: 0 auto;
    color: var(--green);
    font-style: italic;
    border-left: 2px solid var(--green);
    padding-left: 10px;
}

/* Ingredients */
#ingredients{margin-bottom: 20px;}

/* Ingredients Top Part */
.top-ing{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--green);
    padding-bottom: 10px;
}

.top-ing h4{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--imp-font);
}

.top-ing div{
    display: flex;
    align-items: center;
}

.top-ing span{margin-left: 20px;}

.top-ing img{
    width: 40px;
    margin-left: 10px;
}

@media screen and (max-width: 550px){
    .top-ing{
        justify-content: center;
    }
}

/* Ingredients Bottom Part */
#ingredients ul li{
    list-style: none;
    margin: 2px 0;
    padding-left: 30px;
    position: relative;
    line-height: 20px;
}

#ingredients ul li:before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    background-image: url('images/done.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Directions */
#directions ol{
    counter-reset: section;
    max-width: 45em;
    min-width: 290px;
    padding: 0;
    margin: auto;
}
#directions h4{
    font-size: 1.5rem;
    font-family: var(--imp-font);
}

#directions ol li{
    font-size: 1.1rem;
    padding-left: 100px;
    list-style: none;
    line-height: 25px;
    position: relative;
    margin-bottom: 40px;
    min-height: 75px;
}

#directions ol li:before{
    counter-increment: section;
    content: counter(section);
    padding: 25px;
    width: 20px;
    height: 20px;
    font-family: var(--imp-font);
    border-radius: 50%;
    border: 2px dotted var(--back);
    position: absolute;
    left: 0;
    text-align: center;
}

/* Categories */
#categories{
    width: 50%;
    max-width: 54em;
    min-width: 290px;
    margin: 20px auto;
}

#categories h6{
    font-size: 1.2rem;
    margin: 10px 0;
    font-family: var(--imp-font);
}

#categories span{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: 2px solid var(--footer);
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--footer);
    cursor: pointer;
    word-spacing: 5px;
    transition: all ease-in-out .25s;
}

#categories span:hover{
    background-color: var(--footer);
    color: var(--wrapper);
}

@media screen and (max-width: 550px){
    #categories{
        text-align: center;
    }
}

/* Extra */
#extra article h4{
    font-size: 1.3rem;
    margin: 0;
}

#extra article p{
    font-size: 1.1rem;
}

#extra nav ul{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#extra nav ul li{
    list-style: none;
    margin: 20px 0;
}

#extra nav ul li a{
    font-family: var(--imp-font);
    font-size: 1.3rem;
    background: var(--back);
    border-radius: 15px;
    padding: 5px 15px;
    color: var(--footer);
    text-decoration: none;
    transition: all ease-in-out .25s;
}

#extra nav ul li a:hover{
    background-color: var(--green);
    color: var(--white);
}

@media screen and (max-width: 550px){
    #extra nav ul{
        flex-direction: column;
        align-items: center;
    }
}
/* Footer */
footer{
    text-align: center;
    background-color: var(--footer);
    color: var(--wrapper);
    
}

.footer-wrap{
    padding: 20px 0;
    max-width: 55em;
    background-color: #503c37;
    color: var(--wrapper);
    margin: auto;
}

/* Selected */
.selected{
    color: grey;
}

.selected:before{
    content: ''!important;
    background-color: var(--footer);
    border: 2px solid var(--footer)!important;
}

.selected:after{
    content: '';
    width: 15px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 19px 27px;
    border-bottom: 3px solid var(--wrapper);
    border-right: 3px solid var(--wrapper);
    transform: rotate(45deg)
}